### Variables

Variables are fundamental elements in programming used to store data that can be reference and manipulated in a program.In Python,variables are created when you assign a value to them,and they do not need explicit declaration to reserve memory space.the declaration happens automatically when you assign a value to them,and they do not need explicit declaration to reserve memory space.The dclaration happens automatically when you assign a value to a variable.

In [1]:
a = 100

In [3]:
## Declaring And Assigning Variables

age = 32
height = 152
name = "Shristi"
is_student = True

## printing the variables

print("age :",age)
print("height:",height)
print("Name:",name)

age : 32
height: 152
Name: Shristi

In [4]:
## Naming conventions
## Variables names should be descriptive
## They must start with a letter or an '_' and contains letter ,numbers and underscores
## variables names case sensitive

## valid variable names

first_name="Shristi"
last_name="Naik"

In [5]:
# Invalid variable names
#2age=30
#first-name ="SHree"
##@name = "SHri"

In [10]:
## case sensitivity
name = "Shristi"
Name = "SHree"
 
name == Name

False

In [11]:
## Understanding Variable types
# ## Python is dynamically types,type of a variable is determined at runtime
age = 21 #int
height = 170 #float
name ="Shree" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [12]:
## Type checkng and conversion
type(height)

int

In [13]:
age =25
print(type(age))

# Type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [14]:
age = '25'
print(type(int(age)))

<class 'int'>

In [15]:
name = "Shree"
int(name)

ValueError: invalid literal for int() with base 10: 'Shree'

In [16]:
height = 5.11
type(height)

float

In [17]:
int (height)

5

In [18]:
float(int(height))

5.0

In [19]:
## Dynamic Typing

var = 110 #int
print(var,type(var))

var = "Hello"
print(var,type(var))

var = 3.12
print(var,type(var))

110 <class 'int'>
Hello <class 'str'>
3.12 <class 'float'>

In [ ]:
##input

age = int(input("What is the age"))
print(age,type(age))

20 <class 'str'>

In [23]:
num1 = float(input("Enter the 1st number"))
num2 = float(input("Enter the 2nd number"))

sum = num1 + num2
difference =  num1 - num2
product = num1*num2
quotient = num1/num2

print("Sum:",sum)
print("Difference:",difference)
print("Product",product)
print("Quotient:",quotient)

Sum: 40.0
Difference: 0.0
Product 400.0
Quotient: 1.0